<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


	<div class="cart-wrap">
		<div class="container-fluid">
	        <div class="row">
			    <div class="col-md-12" *ngIf="items.length !== 0">
			        <div class="main-heading mb-10">My wishlist</div>
			        <div class="table-wishlist">
				        <table cellpadding="0" cellspacing="0" border="0" width="100%">
				        	<thead>
					        	<tr>
					        		<th width="40%">Product</th>
					        		<th width="20%">Unit Price</th>
					        		<th width="20%">Description</th>
					        		<th width="20%">Rating</th>
					        	</tr>
					        </thead>
					        <tbody>
					        	<tr *ngFor="let item of items">
					        		<td width="45%">
					        			<div class="display-flex align-center">
		                                    <div class="img-product">
		                                        <img (src)="item.image" alt="" class="mCS_img_loaded">
		                                    </div>
		                                    <div class="name-product">
		                                        {{item.name}}
		                                    </div>
	                                    </div>
	                                </td>
					        		<td width="15%" class="price">{{item.price}} Lei</td>
					        		<td width="15%">{{item.description}}</td>
									<td width="15%">{{item.rating}}/5</td>
					        	</tr>
				        	</tbody>
				        </table>
				    </div>
			    </div>
				<div *ngIf="items.length === 0">
					<div class="col-md-12">
						<div class="main-heading mb-10">No items in wishlist</div>
					</div>
				</div>
			</div>
			<button class="btn btn-primary" (click)="navigateToAddItem()">Add item</button>
		</div>
	</div>
	