<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


	<div class="cart-wrap">
		<div class="container-fluid">
	        <div class="row">
			    <div class="col-md-12" *ngIf="items.length !== 0">
			        <div class="d-flex justify-content-between align-items-center mb-10">
						<div class="main-heading">{{fullName}}'s wishlist</div>
						<div class="d-flex align-items-center">
							<div class="search-container d-flex">
								<input type="text" class="form-control" placeholder="Search for items" #filter style="width: 200px; margin-right: 10px;"/>
								<button class="btn btn-primary" (click)="searchItems(filter.value)">Search</button>
							</div>
							<div class="sort-container d-flex align-items-center ml-3">
								<label for="sort" class="mr-2">Sort by:</label>
								<select id="sort" class="form-control" [(ngModel)]="sortBy" (change)="sortItems()">
									<option value="name">Product Name</option>
									<option value="price">Unit Price</option>
									<option value="description">Description</option>
									<option value="rating">Rating</option>
									<option value="dateAdded">Date Added</option>
								</select>
							</div>
						</div>
					</div>
					<div class="table-wishlist">
				        <table cellpadding="0" cellspacing="0" border="0" width="100%">
				        	<thead>
					        	<tr>
					        		<th width="30%">Product</th>
					        		<th width="15%">Unit Price</th>
					        		<th width="15%">Description</th>
					        		<th width="15%">Rating</th>
									<th width="10%">Date added</th>
									<th width="15%"></th>
					        	</tr>
					        </thead>
					        <tbody>
								<tr *ngFor="let item of items" app-item [item]="item" (itemDeleted)="deleteItem(item.id)" (itemEdited)="editItem(item.id)"></tr>
				        	</tbody>
				        </table>
				    </div>
			    </div>
				<div *ngIf="items.length === 0">
					<div class="col-md-12">
						<div class="main-heading mb-10">No items in wishlist</div>
					</div>
				</div>
			</div>
			<button class="btn btn-primary" (click)="navigateToAddItem()">Add item</button>
		</div>
	</div>
	<div class="logout-container">
		<button class="btn btn-primary" (click)="logOut()">Log out</button>
	</div>
	