@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  margin: 0;
}

.auth-card {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}